{% extends 'base.html' %}

{% block title %}Adicionar/Editar Serviço{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Adicionar/Editar Serviço</h1>
    <a class="btn btn-secondary mb-3" href="{% url 'home' %}">Página Inicial</a>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Campos do formulário -->
        <div class="mb-8">
            <label for="{{ form.cliente.id_for_label }}" class="form-label">Cliente:</label>
            <p>{{ form.cliente }}</p>
        </div>

        <div class="mb-3">
            <label for="{{ form.data.id_for_label }}" class="form-label">Data:</label>
           <p>{{ form.data }}</p>
        </div>

        <div class="mb-3">
            <label for="{{ form.hora.id_for_label }}" class="form-label">Hora:</label>
            <p>{{ form.hora }}</p>
        </div>

        <div class="mb-3">
            <label for="{{ form.tipo_servico.id_for_label }}" class="form-label">Tipo de Serviço:</label>
            <p>{{ form.tipo_servico }}</p>
        </div>

        <div class="mb-3">
            <label for="{{ form.fotos.id_for_label }}" class="form-label">Fotos:</label>
            <p>{{ form.fotos }}</p>
        </div>
        
        <!-- Botão de envio -->
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>

<style>
    /* Estilos CSS personalizados para o formulário */
    .container {
        margin-top: 50px;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 50px;
        font-weight: bold;
        color: #333;
    }

    .mb-3 {
        margin-bottom: 30px;
    }

    .form-label {
        font-weight: bold;
    }

    /* Estilos para o botão de envio */
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>
{% endblock %}
