{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Bem-vindo à Aplicação de Gerenciamento de Serviços</h1>
        <p class="lead">Página Inicial.</p>
        <hr class="my-4">
        <p>Aqui você pode gerenciar clientes e serviços</p>
        <a class="btn btn-primary btn-lg" href="{% url 'cliente_list' %}" role="button">Clientes</a>
        <a class="btn btn-success btn-lg" href="{% url 'servico_list' %}" role="button">Serviços</a>
    </div>
    <style>
        /* Estilos CSS personalizados para os botões */
        .btn-lg {
            font-size: 20px; /* Tamanho da fonte */
            padding: 18px 80px; /* Espaçamento interno (topo/baixo, esquerda/direita) */
            border-radius: 15px; /* Borda arredondada */
            text-align: center; /* Centralizar texto */
        }
    </style>
{% endblock %}
